*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #222222;
}
main{
    display: flex;
    flex-direction: column;
    gap: 160px;
}
body{
    font-family:"TT Hoves";
}
section{
    /* padding: 0px 121px; */
    padding: 0 calc(10.7vw - 16px);
}
.Logo{
    margin-top:37px;
    margin-bottom: 85px;
    width: 295px;
    height: 41px;

}
.info{
    display: flex;
    gap: 161px;
    margin-bottom: 76px;

}
.title,.subtitle{
    display: block;
    font-size: 21px;
}
.subtitle{
    font-weight: 700;
}
h1{ font-family: "Chava";
    font-size: 80px;
    margin-bottom: 40px;
}
.infoText{
    font-size: 27px;
    font-weight: 300;
    margin-bottom: 20px;
    max-width: 930px;
}

.button1,.button2{
    width: 328px;
    padding: 20px 0px; 
    border-radius: 12px;
    border: 1px solid #6E3ABA;
    margin-bottom: 80px;
    cursor: pointer;
    font-weight: 500;
    font-size: 18px;
}
.button1{
    background-color:#6E3ABA;
    color:antiquewhite;
    margin-right: 30px;
}
.button2{
    color:#6E3ABA;
}
.reverseCount{
    background-color: blueviolet;
    
    
}

.timer{
    display:flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center; 
    gap: 90px;  
    
}
.time,.timeText{
    display: block;


}
.list2{
    text-align: center;
    padding-top: 80px;
    font-size:calc(2.7vw + 24px) ;
    font-weight: 700;
}
.time{
    margin-top: 57px;
    font-size: 174px;
    color: #2F1D4E;
    font-family: "Chava";

}
.timeText{
    text-align: center;
    color: #2F1D4E;
    font-size: 27px;
    font-weight: 500;

}

.sale{
    
    margin-bottom: 30px;
    width: 328px; 
    padding: 20px 0px; 
    border-radius:12px;
    border:solid white;
    font-size: 18px;
    font-weight: 500;
    margin-top: 57px;
    color: #6E3ABA;
    cursor: pointer;
}

.center {
    text-align: center;
}

.courseProgram{
    border: 2px solid black;
    padding: 80px 64px 35px;
    position: relative;


}

#corner{
    width: 50px;
    position: absolute;
    top: -2px;
    right: -2px;
}
.list3{
font-size: calc(2.7vw + 24px);
font-weight: 500;
line-height: 117%;
text-transform: uppercase;

}
.lessons{
    list-style-type: none;
    margin: 40px 0 34px;
    font-size: 21px;
    line-height: 140%;

}

.lessons li {
border-bottom: 1px solid black;
padding-bottom: 24px;
margin-top: 24px;
}

.descktop{
    display: block;
    margin: 30px auto;
}
.phone {
    display: none;
    margin: 30px auto;
}
@media(max-width:700px){
    .descktop{
        display: none;
    }
    .phone{
        display: block;
    }
}

.list4 {
    font-size: calc(2.7vw + 24px);
    font-weight: 500;
    text-transform: uppercase;
    
}
.columns{
    margin-top: 90px;
    display: flex;
    flex-direction: row;
    gap: 70px;
}
.column1{
    display: flex;
    flex-direction: column;
    gap: 70px;
}
.column2{
    display: flex;
    flex-direction: column;
    gap: 70px;
}

#emojis{
    width: 210px;
    height: 210px;
}

h3{
    font-size: 27px;
    font-weight: 600;
}
p{
    font-weight: 400;
    font-size: 27px;
}

.contents{
    margin-top: 90px;
    display: flex;
    flex-direction: row;
    gap: 120px;
    align-items:center} 
.content1{
    display: flex;
    flex-direction: column;
    gap: 90px;

}
.content2{
    display: flex;
    flex-direction: column;
    gap: 52px;
    

} 


.content_name {
    margin-bottom: 20px;

}
    /* Legend Start */
.Legend_Wrapper h2{
    margin-bottom: calc(5.5vw + 19.2px);
}
.Legend {
    display: flex;
    gap: 50px;
    flex-wrap: wrap; 
    
    
} 
.Legend_img {
    flex-basis: 399px;
    flex-shrink: 1;
    
}
.legend_info{
    flex-grow: 100;
    flex-basis: 566px;
    

}

.teacher_info h3 {
    font-size: calc(1.1vw + 34px);
    font-weight: 700;
    line-height: 121%;
    margin-bottom: calc(.1vw + 5.8px);
}

.teacher_info p {
    font-size: calc(1vw + 14.2px);
    font-weight: 400;
    line-height: 150%;
    margin-bottom: calc(5.5vw + 19.3px);
       
}
.legend_cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "smile champion"
                         "case   keyboart";
    gap: calc(1.1vw + 26px) calc(8.8vw - 23px);
}

.card img{
    display: block;
}
.card span {
    display: block;
    font-size: calc(0.6vw + 14px);
    width: calc(10.4vw + 117px);
    height: calc(1.5vw + 38px);
    margin-top: 10px;
    

}



.card:first-child{
    grid-area: smile;
}
.card:nth-child(2){
    grid-area:champion;
}
.card:nth-child(3){
    grid-area:case;
}
.card:last-child{
    grid-area:keyboart;
}
@media(max-width:1099px){
    .Legend{
        flex-wrap: wrap;
        align-items:center;
        justify-content: center;
    } 
    
}
/* Legend End */

/* diplon start */
.Diplom{
    display: grid;
    grid-template-columns: 449px 1fr;
    grid-template-rows: 156px 1fr;
    grid-template-areas: "image name"
                         "image info";
    gap: 0 20px;
} 
.name{
    width:  calc(27.6vw + 224px);
    height: calc(1.8vw + 113px);
    align-self:start;
    font-size: calc(2.7vw + 24px);
    grid-area:name;
    margin-bottom: 20px;
}
.name_info{
    width: calc(23.6vw + 225.3px) ;
    height: calc(4.3vw + 59px);
    line-height: 150%;
    grid-area: info;
    
    
   
}
.diplom_img {
    
    grid-area: image;
    margin-bottom: 20px;
}
#diplom_photo{
    width:  calc(11.3vw + 285.7px);
    height: calc(7.8vw + 199px);

}


/* splide2 start */

.splide2 p {
    width: calc(46vw + 154px);
    margin-top: calc(0.4vw + 8.3px);
    margin-bottom: calc(0.4vw + 18.3px);
}



.slide {
    width: calc(19.8vw + 254.2px);
    height: calc(19.8vw + 254.2px);
    
    
}


/* splide2 end */

   
@media(min-width:1280px){
    .name{
        width: 578px ;
        height: 136px;
        align-self:start;
        font-size: 58px;
        grid-area:name;
        margin-bottom: 20px;
    }
    .name_info{
        width: 514px ;
        height: 114px;
        line-height: 150%;
        grid-area: info;
        
        
       
    }
    .diplom_img {
        
        grid-area: image;
        margin-bottom: 20px;
    }
    #diplom_photo{
        width:  430px;
        height: 300px;
    
    }
    
}

/* diplom end */
/* waitings start */
.waitings{
    display: grid;
    grid-template-columns: 449px 1fr;
    grid-template-rows: 156px 1fr;
    grid-template-areas: "name name"
                         "image info";
    gap: 0 20px;
} 


.name_info {
    display: flex;
    flex-direction: column;
    gap: 25px;
}
/* waitings end */
/* splide start */
.splideCard{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color:rgba(240, 247, 253, 1);
    border-radius:12px;
    padding: 50px 20px 44px;
}
.splide__track {
    margin-top: calc(2.2vw + 11.7px);
    
}



.user_info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    
}
.user_info h5 {
font-size: 21px;
font-weight: 400;
line-height: 29.4px;
text-align: left;
width: 169px;

}


.user_img img {
    border-radius: 50%;
}

/* splide end */

/* about_us start */
.body_list13 {
    margin-top: calc(5.1vw + 14.9px);
    display: flex;
    flex-direction: row;
    gap: calc(2.2vw + 11.7px);
    
}
.it1 {
    display: flex;
    flex-direction: column;
    gap: calc(2.2vw + 11.7px);
}
.it2 {
    display: flex;
    flex-direction: column;
    gap: calc(1.1vw + 25.8px);
}


.inner_it2 {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.body_it1 {
    width: calc(10.8vw + 287.4px);
    font-size: 27px;
    font-weight: 600;
    line-height: 37.8px;
    text-align: left;
    text-transform: uppercase;

}
.number_students {
    font-size: calc(2.7vw + 24px);
    font-weight: 700;
    letter-spacing: 0.01em;
    text-align: left;

    

}
.inf_students {
    font-size: calc(0.6vw + 14px);
    font-weight: 400;
    line-height: 29.4px;
    text-align: left;

}

/* about_us end */

@media(max-width:700px){
    .body_list13{
        display: flex;
        flex-direction: column;
    }
    .body_it1 {
        width: calc(10.8vw + 287.4px);
        font-size: 22px;
        font-weight: 500;
        line-height: 30.8px;
        text-align: left;
        text-transform:none ;
    
    }
 
    .inner_it2 {
        gap: 0px;
    }


    .columns{display: block;}
    .contents{display: block;}
    .legend_cards{
        grid-template-areas: "smile keyboart"
                             "champion case";
                             

    }

    .Diplom{
        display: grid;
        grid-template-columns: 328px;
        grid-template-rows: auto; 
        grid-template-areas: " name"
                              "image"
                              "info";
    } 
    .waitings{
        display: grid;
        grid-template-columns: 328px;
        grid-template-rows: auto; 
        grid-template-areas: " name"
                              "image"
                              "info";
    } 

    .name{
        width: 578px ;
        height: 136px;
        align-self:start;
        font-size: 58px;
        grid-area:name;
        margin-bottom: 20px;
    }
    .name_info{
        width: 514px ;
        height: 114px;
        line-height: 150%;
        grid-area: info;
        
        
       
    }
    .diplom_img {
        
        grid-area: image;
        margin-bottom: 20px;
    }



    
}





